@import "tailwindcss";

.color_picker{
  --primary: #9b00ca;
  --secondary: #eec200;
  --background: white
  --background-dark: #262626;
  --button-dark: #161616;
  --button-light: #9b00ca;
  --button-hover-dark: black;
  --button-hover-light: #630081;
  --secondary-text-hover: #997d00;
  --primary-text-hover: #630081;
  --secondary-inset: #c99e28;
  --primary-inset: #a855c2;
}

:root {
  --background: #ddddddff;
  --foreground: #292929;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-quicksand: var(--font-quicksand);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #630081;
    --foreground: #ededed;
    --hover: #a38b1d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Quicksand';
  
}

body::-webkit-scrollbar {
  display: none;
}

notification-contents::-webkit-scrollbar{
  display: none;
}

.material-symbols-outlined {
  font-size: inherit !important;
  line-height: 1 !important;
}

.haduh{
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
